<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update user</h1>
    <form action="/update_user/<%=user[0].id%>" method="post">
        <div>
            username <input type="text" name="n_name" id="" value="<%=user[0].username%>"><br>
            email_address <input type="email" name="e_name" id="" value="<%=user[0].email_address%>">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>