<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User_Details</title>
</head>
<body>
    <h1>Register User</h1>
    <form action="user_details" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required><br>
    <label for="address">Email_address:</label>
    <input type="email" name="address" id="address" required><br>

    <button>Add user</a></button> <br><br>
    <!-- <button><a href="all_user"></a> List of Users</button> -->
    <a href="all_user">List of Users</a>
    </form>
</body>
</html>